:root {
  --teal: #255;
  --gold: #b95;
  --gray: #444;
  --white: #ddd;
}

body {
  background-image: url(https://www.burkedecor.com/cdn/shop/products/DD139230_1800x1800.jpg?v=1671736060);
  background-color: #666;
  background-blend-mode: multiply;
  font-family: "Poiret One", sans-serif;
  background-attachment: fixed;
}

.hidden {
  opacity: 0;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

#close-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
}

#close-btn a {
  color: #fff;
  transition: opacity 0.5s;
}

#close-btn a:hover {
  opacity: 0.75;
}

#pg-body {
  transition: opacity 2s;
}

#calc-body {
  width: 330px;
  background-color: var(--teal);
  height: 580px;
  border-radius: 20px;
  margin: 20px auto;
  border: 1px solid #ccc;
  margin-top: 8vh !important;
}

#title-box {
  color: #fff !important;
  width: 80%;
  margin-bottom: -40px;
}

#title-box p {
  align-self: center;
}

#display-box {
  position: relative;
  width: 80%;
  height: 70px;
  margin-top: 20px;
  border-radius: 20px;
  margin-bottom: -20px;
  color: var(--gray);
  background-color: var(--white);
  overflow: auto;
  text-align: right;
}

#display-contain {
  width: 100%;
  /*display: flex;
  justify-content: end;
  flex-direction: row;*/
}

#display-box p {
  text-align: end;
  font-size: 40px;
  padding: 10px;
}

#num-buttons {
  gap: 10px;
  width: 90%;
  margin-bottom: 40px;
}

button {
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 25px;
}

#Backspace {
  width: 200px;
  height: 60px;
}

#Backspace,
.op-btn {
  background-color: var(--gold);
}

.op-btn,
.num-btn {
  width: 60px;
  height: 60px;
}

.num-btn {
  background-color: var(--gray);
}

.num-btn:hover {
  background-color: var(--white) !important;
  color: var(--gray);
  outline: none !important;
}

.op-btn:hover,
#Backspace:hover {
  background-color: var(--white) !important;
  color: var(--gold);
  outline: none !important;
}

button:focus {
  outline: none;
}

.zero {
  width: 130px !important;
  height: 60px !important;
}

#footer {
  width: 330px;
  color: #fff;
  margin: -15px auto;
  text-align: right;
  font-size: 14px;
  line-height: 1.2em;
  padding-right: 8px;
  opacity: 0.9;
}

#footer a {
  color: #fff;
  text-decoration: 0.5px underline;
  text-underline-offset: 2px;
  transition: text-decoration-color 0.2s;
}

#footer a:hover {
  opacity: 0.75;
  text-decoration: 0.5px underline #ffffff00;
}
